
<div class="jumbotron">
  <section id="user-info-<%=@user.id %>">
    <h1 class="display-4">Hello, <%= @user.name %>!</h1>
    <br>

    <%= image_tag profile_img.sample, class: 'profile-img' %>
    <br>
    <center>
      <center>
      <% @user.addresses.each do |address| %>
      <h2><%= address.nickname %></h2>
      <p class="lead">Address: <%= address.address %></p>
      <p class="lead">City: <%= address.city %>, <%= address.state %> <%= address.zip %></p>
      <br>
      <%= link_to "Update Address", edit_user_address_path(@user,address), class: "btn btn-info" %>
      <%= link_to "Delete Address", user_address_path(@user,address), method: :delete, class: "btn btn-secondary" %>
      <% end %>
      <br><br><br>
      <p class="lead">Email: <%= @user.email %></p>
      </center>
    </center>
  </section>


<br>
<center>
  <section id= "user-profile-actions">
    <%= link_to "Edit Password", profile_edit_password_path, class: "btn btn-success" %>

    <%= link_to "Edit Profile", "profile/edit", class: "lead btn btn-info" %>

    <%= link_to "My Orders", "/profile/orders", class: "btn btn-secondary" %>

    <br><br>
    <%= link_to "Add Address", new_user_address_path(@user), class: "btn btn-success" %>
  </section>
</center>
</div>
